@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@theme {
  --color-primary: #2463eb;
  --color-brand-emerald: #10B981;
  --color-brand-slate: #1E293B;
  --font-display: "Inter", sans-serif;
}

@layer utilities {
    .glass-effect {
        @apply bg-white/80 backdrop-blur-xl border-b border-white/20 shadow-sm sticky top-0 z-50;
    }
    
    .logo-tracking {
        letter-spacing: 0.15em;
    }

    .nav-link-active {
        @apply text-brand-slate relative font-semibold;
    }
    
    .nav-link-active::after {
        content: '';
        @apply absolute -bottom-[29px] left-0 w-full h-[3px] bg-brand-emerald rounded-full shadow-[0_0_8px_rgba(16,185,129,0.4)];
    }
}

:root {
  font-family: "Inter", sans-serif;
}